# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/

# Flask
instance/
*.db
encryption_key.key

# Downloaded videos
downloads/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log
